
/* **********************************Basic template formatting********************************** */
.invoice-print-form{
    /* margin-top: 50px;
    margin-bottom: 50px; */
    max-width: 100%;
    max-height: 100%;
    width: 21cm;
    height: 29.7cm;
    border-radius: 1px;
    border: 1px solid #7e7a7a;
    -webkit-box-shadow: 0px 0px 99px -53px rgba(101,119,235,1);
    -moz-box-shadow: 0px 0px 99px -53px rgba(101,119,235,1);
    box-shadow: 0px 0px 99px -53px rgba(101,119,235,1);
}

h1, h2, h3, h4, h5, h6, p, small, div{
    background-color: transparent;
}

/* **********************************Basic template formatting********************************** */

/* **********************Logo and invoice text container************************/
.invoice-logo-container{
    max-width: 100%;
    width: 21cm;
    height: 150px;
    background-color: #F3F8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.invoice-logo-img{
    max-width: 200px;
    max-height: 50px;
}

.invoice-logo-img img{
    max-width: 200px;
    max-height: 50px;
    object-fit: contain;
}

/* **********************from, to, invoice info container************************/

.invoice-details-container{
    max-width: 100%;
    width: 21cm;
    /* height: 150px; */
    /* background-color: #2df19c15; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

small{
    padding: 0;
    margin: 0;
    font-weight: 200;
    color: #7e7a7a;
    font-size: 13px;
}

h5{
    padding-bottom: 5px;
}

h6{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 2px;
}

p{
    font-size: 14px;
    color: black;
    margin-bottom: 0;
    line-height: 18px;
}

strong{
    font-size: 18px;
}

.inline-box-for-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoice-infor-container,.from-invoice-container,.to-invoice-container{
    width: 200px;
    
}

/* **********************table container************************/
.table>:not(caption)>*>*{
    border-bottom: none;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
    --bs-table-accent-bg : #F3F8FF;
}

.table{
    border: 1px solid #407BFF;
    border-radius: 5px;
}

.invoice-info-table-container{
    border-radius: 5px;
}

/* **********************Add notes and total container************************/

.additional-notes-total-container{
    display: flex;
    justify-content: space-between;
}

.additional-notes-container{
    max-width: 60%;
    padding-right: 50px;
}

.total-div-container{
    max-width: 40%;
    width: 300px;
}

.total small{
    font-size: 15px;
    font-weight: bold;
}

.total p{
    font-size: 16px;
    font-weight: bold;
}

.all-total small{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.all-total p{
    font-size: 21px;
    color: #407BFF;
    font-weight: bold;
}

hr{
    border-width: 1px;
    color: black;
}

/* **********************footer container************************/
.invoice-footer-container{
    max-width: 100%;
    width: 21cm;
    height: 350px;
    max-height: 100%;
    background-color: #F3F8FF;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.terms-conditions-container{
    max-width: 60%;
    padding-right: 50px;
}

.bank-details-div-container{
    max-width: 40%;
    width: 300px;
}



